@font-face {
  font-family: "NeoDunggeunmo";
  src: url("docs/font/neodgm.woff") format("woff");
}

.aboutBoxBackground {
  position: absolute;
  width: 1171px;
  height: 780px;
  left: 370px;
  top: 151px;

  background-color: #000000;
  opacity: 90%;
  background-size: cover;
}

.aboutBox {
  position: absolute;
  width: 1171px;
  height: 780px;
  left: 370px;
  top: 151px;

  overflow-y: scroll;
}

.aboutBox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.aboutTextHeader {
  position: absolute;
  width: 720px;
  height: 810px;
  left: 225px;
  top: 30px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;

  color: #ffffff;
  opacity: 100%;
}

.aboutTextContent {
  position: absolute;
  width: 720px;
  height: 810px;
  left: 0px;
  top: 60px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #ffffff;
  opacity: 100%;
}

.faqTextHeader {
  position: absolute;
  width: 720px;
  height: 810px;
  left: 225px;
  top: 420px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;

  color: #ffffff;
}

.faqTextContent {
  position: absolute;
  width: 720px;
  height: 810px;
  left: 0px;
  top: 60px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #ffffff;
}

.aboutImg {
  position: absolute;
  width: 720px;
  height: 225px;
  left: 0px;
  top: 480px;

  background-image: url("docs/images/shared/img/dsccontest.png");
  background-size: cover;
}
