@font-face {
  font-family: "NeoDunggeunmo";
  src: url("../docs/font/neodgm.woff") format("woff");
}

.nonotion {
  position : relative;
  left : -2120px;
}

.contentStyle {
  position: relative;
  width: 470px;
  height: 780px;
  left: 30px; /* 370 */
  top: 90px; /* 151 */

  background-color: #000000;
  opacity: 90%;
  background-size: cover;
  overflow-y: scroll;
}

.contentStyle::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

// home

.hiMaskMan {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 30px;
  top: 100px;

  background-image: url("../docs/images/shared/img/himaskman660660.png");
  background-size: cover;
}

.sloganBox {
  box-sizing: border-box;

  position: absolute;
  width: 150px;
  height: 300px;
  left: 345px;
  top: 100px;

  background: #586a82;
  border: 1px solid #000000;
}

.sloganText {
  position: absolute;
  width: 109.09px;
  height: 270px;
  left: 360px;
  top: 115px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.dummy1 {
  position: absolute;
  width: 30px;
  height: 36px;
  left: 495px;
  top: 100px;

  background: #000000;
  border: 1px solid #000000;
}

.logoDsc {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 30px;
  top: 470px;

  background-image: url("../docs/images/shared/img/logodsc400400.jpg");
  background-size: cover;
}

.gameboyDsc {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 30px;
  top: 620px;

  background-image: url("https://storage.googleapis.com/dsc-sample/gameboydsc.gif");
  background-size: cover;
}

.portalEngine {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 195px;
  top: 470px;

  background-image: url("https://storage.googleapis.com/dsc-engine/gif/8680.gif");
  background-size: cover;
}

.portalEngineBox {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 195px;
  top: 740px;

  background: #930101;
}

.portalEngineText {
  position: absolute;
  width: 240px;
  height: 21px;
  left: 228px;
  top: 744px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
}

.bestDogeSoundBox {
  position: absolute;
  width: 465px;
  height: 40px;
  left: 30px;
  top: 415px;

  background: #636363;
}

.bestDogeSoundText {
  position: absolute;
  width: 240px;
  height: 16px;
  left: 176px;
  top: 427px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  /* identical to box height */

  color: #ffffff;
}

.footerLineMain {
  position: absolute;
  width: 465px;
  height: 0px;
  left: 30px;
  top: 795px;

  border: 1px solid #636363;
}

.footerLineBranch1 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: -1px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch3 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 194px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch4 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 238px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch5 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 282px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch6 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 326px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch7 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 370px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch8 {
  position: absolute;
  width: 0px;
  height: 10px;
  left: 413px;
  top: 0px;

  border: 1px solid #636363;
}

.footerLineBranch9 {
  /* @2023 DSC LABEL inc. */
  position: absolute;
  width: 210px;
  height: 16px;
  left: 0px;
  top: 80px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  color: #838383;
}

.footerLineBranchAttached1 {
  /* TERMS */

  position: absolute;
  width: 50px;
  height: 20px;
  left: 5px;
  top: 20px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #636363;
}

.footerLineBranchAttached2 {
  /* CONTACT */

  position: absolute;
  width: 70px;
  height: 20px;
  left: 5px;
  top: 20px;

  font-family: "NeoDunggeunmo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #636363;
}

.footerLineBranchAttached3 {
  /* Discord */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/DISCORD.png");
  background-size: cover;
}

.footerLineBranchAttached4 {
  /* Github */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/GITHUB.png");
  background-size: cover;
}

.footerLineBranchAttached5 {
  /* Twitter */
  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/TWITTER.png");
  background-size: cover;
}

.footerLineBranchAttached6 {
  /* Youtube */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/YOUTUBE.png");
  background-size: cover;
}

.footerLineBranchAttached7 {
  /* Telegram */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/TELEGRAM.png");
  background-size: cover;
}

.footerLineBranchAttached8 {
  /* Instagram */

  position: absolute;
  width: 24px;
  height: 24px;
  left: 5px;
  top: 20px;

  background-image: url("../docs/images/shared/img/icon/INSTAGRAM.png");
  background-size: cover;
}
